[2013-02-25 12:15] pbl-pw opened #1 "GBK path problem"
when debug file with GBK non-English char path the debugger can't break into debug precessor
rubymine 5.0 + ruby 2.0.0-p0 + debase 0.0.1 +  ruby-debug-ide 0.4.17.beta16

[2013-03-01 11:59] thechrisoshow opened #2 "rspec issues?"
Hi - any top tips for getting this to work with rspec?

[2013-03-02 01:28] #1 closed, assigned to nobody

[2013-03-04 19:13] dwbutler opened #3 "Problem compiling in CentOS"
[code]

Pretty silly IMO, but it looks like the fix should be as simple as inserting a newline at the end of that file!

[2013-03-11 11:22] #3 closed, assigned to nobody

[2013-04-06 06:16] rockorequin opened #4 "Step into/over not working in Netbeans with ruby 2.0"
When I debug using Netbeans 7.3 and ruby 2.0.0-p0, Netbeans freezes after the first step over or step into command is issued, and it looks like this is due to 2.0.0 reporting an extra suspend event when hitting the first breakpoint.

Using ruby-debug-ide, I compared ruby 1.9.3-p392 and ruby 2.0.0-p0, and found the difference is that when the debugger hits the breakpoint, in 1.9.3 xml_printer print

[2013-04-29 17:44] #4 closed, assigned to nobody

[2013-06-04 16:16] glebm opened #5 "Usage?"
rails console

[code]

rails console -d

[code]

[2013-06-08 22:02] marcin-rzeznicki opened #6 "Cannot compile on Arch"
... or, in general, on any systems where FORTIFY_SOURCE is in use. CPPFLAGS in resulting makefile is

[code]

. I assume that this gets pulled in by default by mkmf because of how ruby was built on particular system. **extconf.rb "destroys" CFLAGS by setting it unconditionally to -Wall -Werror** (default setting on my system is:

[code]

)
This is unfortunate course of events as:
- all warnings ar

[2013-06-10 06:55] #2 closed, assigned to nobody

[2013-06-10 15:25] #5 closed, assigned to nobody

[2013-07-03 17:11] tleish opened #7 "Debugging with debase is 2-3x Slower than ruby-debug-base19x"
We recently migrated a large Rails 3 application from Ruby 1.9.3 to Ruby 2.0 and noticed that debugging with ruby-debug-ide and debase it became significantly slower.  In fact, many of our developers often switch back to Ruby 1.9.3 temporarily just to use ruby-debug-base19x for debugging because it's so much faster than debugging in 2.0 with debase. To give an example, one area of the code with he

[2013-08-27 15:34] #7 closed, assigned to nobody

[2013-08-28 19:15] clyfe opened #8 "Cannot compile on Ubuntu"
[code]

[2013-08-28 20:16] #8 closed, assigned to nobody

[2013-08-28 20:20] #6 closed, assigned to nobody

[2013-09-12 14:59] JohnBat26 opened #9 "Error: cannot load such file -- debugger/ruby_core_source"
Hi.
I get next error when install debase:
gem install debase

[code]

I try to install gem install debugger-ruby_core_source, but this don't help :(

[2014-03-18 18:49] Ipecac242 opened #10 "Can't compile on Windows"
Ruby devkit is installed, but I get this error:

[code]

mkmf.log has this:

[code]

It appears that gcc doesn't like this line in ruby.h:

[code]

[2014-03-25 17:35] #10 closed, assigned to nobody

[2014-03-25 17:43] Ipecac242 opened #11 "Conditional breakpoints keep debugger from starting"
When I have any conditional breakpoints set, the ruby debugger fails to start.  I made a breakpoint conditional in Netbeans by left-clicking to the left of the code line, then right-clicking the red square breakpoint symbol, choosing Breakpoint / Properties, then in the condition field, I put an expression, like i == 4.  Next, I start debugging and the debugger doesn't start.  If I remove the cond

[2014-04-10 19:36] rorra opened #12 "Have an issue with debase, rvm and ruby 2.1.1 on mac"
When I try to install the gem I get this error:

[code]

GCC Version:

[code]

rvm version

[code]

Ruby version

[code]

I would appreciate any issue fixing the compilation on my mac

[2014-08-18 23:22] hx opened #13 "local_variables sometimes lies"
I use the IntelliJ/RubyMine debugger, which occasionally trips on [this line](https://github.com/denofevil/debase/blob/master/lib/debase/context.rb#L7). The gist is here:

[code]

The `local_variables` method is reporting some variable names (in my case, `m`), which, when evaled, raises uncaught errors that crash the debugger.

I'm thinking, at the very least:

[code]

Then, in our debuggers' list

[2014-10-30 04:47] #12 closed, assigned to nobody

[2014-10-30 04:49] #9 closed, assigned to nobody

[2014-11-10 09:31] Olivier4murs opened #16 "Assets rendering is very slow since ruby 2.1.3"
In my Rails 4.1.7 app, rendering a page with assets is about 5 times slower with ruby 2.1.3 (or 2.1.4) than with 2.1.2
I'm using Rubymine to debug (which use debase 0.1.0 and ruby-debug-ide 0.4.23.beta10)
When running with debugging off, I don't have this slowdown.
- With ruby 2.1.2 :

- With ruby 2.1.4 :

Is this problem already known? Do you need more details?
Thanks

[2014-12-01 09:44] turbod opened #17 "can't compile with 2.1.5 ruby in OS X"
Hi,
I can't compile debase gem. This is the log:

[code]

[2014-12-11 09:24] #16 closed, assigned to nobody

[2015-01-14 09:27] os97673 commented on #17
it may be fixed with #18, let me know if it is not

[2015-01-14 09:27] #17 closed

[2015-01-26 18:25] os97673 commented on #11
Could you please try breakpoint-expr-writer branch and let me know if it fixes the problem or not.

[2015-02-26 12:32] turbod commented on #17
It's works. Thx.

[2015-02-26 23:45] hx commented on #13
@os97673 I just saw this. It's on my todo list now ;)

[2015-03-02 10:34] moeffju commented on #9
I’m getting this error suddenly in a previously working installation without touching the Gemfile or debase version. Installing `debase-ruby_core_source` (0.7.5) works, but the installation of `debase` itself fails:

[code]

[2015-03-05 15:53] dawez commented on #11
It seems that I have the same problem. I tried with different combinations of byebug / debase.

gem 'byebug' , github: 'deivid-rodriguez/byebug', branch: 'master'
gem 'debase' , :github => 'denofevil/debase', :branch => 'master'

With this combination the page is does not finish loading  and it is stop in loading mode.
Using instead

byebug (3.5.1 7c8c0db)
debase (0.1.2)

The page is loaded but th

[2015-03-05 16:12] os97673 commented on #11
debase is not supposed to work with byebug,  why do you use it?  And what are you trying to achieve?

[2015-03-11 18:53] Ipecac242 commented on #11
Hi os97673,

Sorry for the delay in checking your breakpoint-expr-writer branch fix for this.  I tried it today and get a different error now:

[code]

[2015-03-11 19:20] Ipecac242 commented on #11
I tried a simple fix for the the error I'm getting now by changing

[code]

to

[code]

It got past the arguments error, but it seems to ignore the condition and breaks even when the condition is false.

[2015-03-19 10:06] os97673 commented on #11
@Ipecac242 it looks like you need to learn me how to use the IDE of your choice so I could fix all such problems without asking you to test every my change.
What IDE are you using, is there any documentation on how to use it do debug ruby script?

[2015-03-19 16:09] Ipecac242 commented on #11
Thanks for your help on this.  I'm currently using Netbeans 8.0.1.  You can get the ruby plugins for Netbeans here:  http://plugins.netbeans.org/plugin/38549

There is also some info on using Ruby in Netbeans here:  http://wiki.netbeans.org/Ruby

[2015-08-25 09:30] os97673 opened #20 "add methods to enable/disable all tracepoints"
This way we will be able to implement overhead-(almost-)free debugging for the cases when we have no breakpoints/catchpoints

[2015-09-15 18:39] os97673 commented on #20
after investigation I've decided that debase should enable/disable tracepoints itself.
This already implemented in master.

[2015-09-15 18:39] #20 closed

[2015-10-12 21:40] denofevil opened #22 "Debugger occasionally stops when debugging rails app"
Possible STR:
What steps will reproduce the problem?
1. Run a Rails server in debug mode
2. Visit http://localhost:3000
3. Visit http://localhost:3000 again

What is the expected result?
The page should load.

What happens instead?
The IDE is at a breakpoint within Rails, though I did not set the breakpoint.

Log
[code]

[2015-10-13 05:08] os97673 commented on #22
the problem might be caused by https://bugs.ruby-lang.org/issues/11492 (in this case everything should work with ruby-head)  If it doesn't work please add Debase.verbose to true (somewhere at the beginning of rails loading) and it will provide huge output with all events.  Please send the output and I will try to understand what goes wrong.

[2015-12-01 06:13] os97673 commented on #22
@denofevil it looks like the fix for 11492 has been backported to 2.1.x too (should be available in 2.1.8)
Perhaps we can close the ticket or do you wont to invent the way to workaround possible bugs in trace API? ;)

[2015-12-01 09:42] #22 closed

[2015-12-01 09:44] denofevil commented on #22
@os97673, thanks for letting know :)

[2015-12-04 01:11] os97673 commented on #13
I believe the problem has been fixed, feel free to reopen if it is not.

[2015-12-04 01:11] #13 closed

[2015-12-28 08:43] JanStevens opened #24 "Ruby 2.3.0 compatibility"
Can you release a new version of debase that tracks a more recent version of `debase-ruby_core_source`?

Right now my bundler used version 0.8.1 (which does not have ruby 2.3) and the installation fails. I had to manually do the following

[code]

before my bundle install worked again.

Thanks!

[2016-02-28 16:54] jrgleason opened #25 "Trying to install I get `ruby_source_dir_version': undefined method `[]'"
I am trying to do...

`gem install debase` on Windows 10 I get

[code]

I don't see a command line arg or anything that I am missing. Anyone know what is wrong?

[2016-03-03 17:26] os97673 commented on #25
I'd suggest to update debase-ruby_code_source and if this will not help file bug against it os97673/debase-ruby_core_source

[2016-03-03 17:26] #25 closed

[2016-03-22 07:03] atefth commented on #9
I have no debug gems install (ruby-debug-ide)

![screen shot 2016-03-22 at 2 58 51 pm](https://cloud.githubusercontent.com/assets/2331530/13944241/b19bc5ae-f03e-11e5-98a7-d62d6b7b95aa.png)
![screen shot 2016-03-22 at 2 59 05 pm](https://cloud.githubusercontent.com/assets/2331530/13944242/b1a0e6ce-f03e-11e5-98f9-c7f877614e10.png)

Here is my mkmf.log:

[mkmf.txt](https://github.com/denofevil/debase

[2016-03-22 08:58] Eric-Guo commented on #9
@atefth because you are using `2.4.0-dev`, which probably the ruby master version, so won't include in ruby_core_source.

So do not using ruby 2.4.0, using 2.3.0 instead.

[2016-03-23 06:10] atefth commented on #9
Thanks a bunch @Eric-Guo! :+1:

[2016-03-23 07:39] denofevil commented on #9
@atefth alternatively you can specify --with-ruby-include= command line argument and provide 2.4.0 sources location

[2016-03-23 08:06] atefth commented on #9
@denofevil I tried doing that but the thing is I use rbenv for managing my ruby versions and I tried using the ruby include parameter while installing the gem; It was throwing an invalid parameter parse error or something... I guess I am not really sure where rbenv places the ruby source.. oiamanoob!

[2016-05-02 12:34] mbasset opened #26 "Debase version 0.2.2-beta7 causes stops at random code locations"
Not sure if this is a Debase issue but while debugging with the latest version (0.2.2-beta7) which is installed by on a rubymine installation when using the debugger I have issues with breaking at random spots. This only happens when using breakpoints (in any part of code) with rails. The system will randomly stop at lines of code that do not have breakpoints that appear to be deep within the rail

[2016-05-16 08:20] hyjk2000 commented on #26
There's a bug report on the official issue tracker of RubyMine: [RUBY-17990](https://youtrack.jetbrains.com/issue/RUBY-17990)

[2016-05-27 07:03] nvyin opened #27 "Netbean debugger does not stop ( break) at breakpoint"
Hi all,
Iam using netbean8.1, the debugger was working normly , but  then from yesterday it is stop  not  breaking .
please any help

[2016-05-27 09:06] #26 closed

[2016-11-05 01:25] cfis opened #32 "Build Fails MYS2"
debase-0.2.2.beta9 no longer builds on msys2 on Windows.

Error:

x86_64-w64-mingw32-gcc -shared  -o attach.so attach.o -L. -L/C/msys64/local/ruby/lib -L. -Lc:/msys64/local/lib -Wl,--enable-auto-image-base,--enable-auto-import attach-x64-mingw32.def    -lx64-msvcrt-ruby230
 -lgmp -lshell32 -lws2_32 -liphlpapi -limagehlp -lshlwapi
Cannot export Init_attach: symbol not defined

attach-x64-mingw32.de

[2016-11-09 13:09] denofevil commented on #32
Should be fixed with  49845dd, can you try latest master?

[2016-11-09 23:21] cfis commented on #32
Yes that fixes - thanks!

[2016-11-09 23:21] #32 closed

[2016-11-27 12:56] ddnexus opened #34 "Version 0.2.2.beta9 not published"
RubyMine 2016.3 beta requires it, but it cannot be downloaded because it is missing from rubygems.

[2016-11-27 14:35] ddnexus commented on #34
Just fund that it is in the app Contents :)
Closing this non-issue.
The real issue is with the remote SDK used with docker in the 2016.3 beta.

[2016-11-27 14:35] #34 closed

[2016-12-23 10:13] seraku24 opened #36 "Conditional breakpoints always break."
When setting a conditional breakpoint, the resulting breakpoint is triggered every time the line is hit, not just when the specified condition is `true`.

In reviewing the code, I see that `ruby-debug-ide` accepts the `break ... if ...` command and passes it along to `debase`, which records the provided expression.  But then, neither `ruby-debug-ide` nor `debase` does anything with the expression.

[2016-12-23 12:01] denofevil commented on #36
@seraku24 that's right, that part of the code never made it from ruby-debug-base to debase as I was implementing it for RubyMine and RM handles conditions in breakpoints on IDE side. I can try to look at it, but it may be more productive to create a pull request as it will take some time for me to set up all the environment
Relates to #11

[2016-12-23 12:42] seraku24 commented on #36
Thanks for the confirmation.  `(:`

I can certainly take a stab at this issue.  I just need get acclimated to this project and how to build and test it.  Are there any quirks with this project that I should be aware of?

[2016-12-23 14:07] denofevil commented on #36
There are some failing tests: `test_current_context` and `test_catchpoints` that you should not worry about.
You probably would need to patch `check_breakpoint_by_pos` in breakpoint.c to add check for expr if it's present.
Otherwise it's just `bundle install` and `rake test` :)

[2016-12-23 15:36] deivid-rodriguez commented on #36
Also, this [is implemented](https://github.com/deivid-rodriguez/byebug/blob/master/test/commands/break_test.rb#L238-L262) in `byebug` and `byebug`'s C-extension part was originally forked from `debase`. So you might want to use the project as a reference. :wink:

[2016-12-23 15:43] seraku24 commented on #36
@deivid-rodriguez Thanks!  Looks similar to what I ended up doing in `sketchup-ruby-debugger`, but it is always useful to have as much reference as possible just in case.  `(:`

[2016-12-23 17:42] deivid-rodriguez commented on #36
Sure! :)

[2017-01-27 08:22] lumean opened #38 "fails to install on win10"
Hi,
I tried to install on windows 10 with ruby 2.2.5 and devkit, but it fails building native extension, do you have any suggestions?  (I already tried the beta with --pre but get the same error)

[code]
Contents of  mkmf.log:
[code]

[2017-01-27 08:55] lumean commented on #38
I also tried installing the gem debase-ruby_core_source first, but this did not help either.

[2017-02-06 05:39] cfis opened #39 "VC Compilation Broken"
The latest stable release of debase compiles on Visual Studio, but the betas do not.  The issue is this code:

static void
__attribute__ ((noinline))
__func_to_set_breakpoint_at()
{
  asm("");
}

asm is not supported on 64 bits on Visual Studio.  It would have to be something like this:

static void
__declspec(noinline)
__func_to_set_breakpoint_at()
{
}

Not sure that accomplishes what needs to be

[2017-02-07 10:38] denofevil commented on #39
@equivalence1

[2017-02-07 13:23] denofevil commented on #38
@lumean please provide output of `ruby -v`

[2017-02-07 20:31] lumean commented on #38
[code]

[2017-02-08 11:49] #36 closed

[2017-02-14 09:48] denofevil commented on #39
@cfis I've merged the fix that should resolve this, can you check whether it works for you?

[2017-03-21 00:16] lumean commented on #38
is there anything I can try on my side to further debug the issue? I have managed to manually create the make file and compile it on my machine, so in general the devkit installation should be fine.  Note the error I get when I try to manually create the makefile without `-rdevkit` is quite similar to the one I get above during gem install
[code]

Maybe there is an issue with the environment varia

[2017-03-31 07:54] lumean commented on #38
We can close this issue. After adding ruby and devkit to the path the gem install works fine.

[2017-08-03 17:39] wellington1993 opened #43 "Problem with Rails 5 + Ruby 2.5"
Hi,

I got this error after try to install:

`
No source for ruby-2.5.0 (revision 58466) provided with debase-ruby_core_source gem.`

More detailed:
https://gist.github.com/wellington1993/2c6608777b8b6cf7ef3f87c55d7bd55e

Any idea to help me?

[2017-08-03 17:53] os97673 commented on #43
I might be wrong but I do not see any official releases for ruby 2.5.0 thus debase-ruby_core_source doesn't provide sources for this.  If you build ruby 2.5.0 from source you may want to point to them (see ext/extconf.rb and --with-ruby-include).

[2017-08-03 17:53] #43 closed

[2017-10-30 22:00] IgorJorobus commented on #38
That's not true for me lumean, even doing what you said, debase can't get installed.

[2018-01-05 03:20] mur-wtag opened #54 "Gem::Ext::BuildError: ERROR: Failed to build gem native extension. on ruby 2.5.0"
it's not installing with `ruby 2.5.0`.
Here is the log:
[code]

[2018-01-05 14:20] phortx commented on #54
Use the version `0.2.2.beta14`, it should work :)

[2018-01-05 20:09] anatol commented on #54
Could you please make a stable release that fixes this ruby-2.5 compatibility issue?

[2018-01-23 17:43] guylyons commented on #54
I'm getting the same issue w/ 2.5.0

[2018-02-01 13:55] valich commented on #54
Debase 0.2.2 is published with all compatibility fixes.

[2018-02-01 13:55] #54 closed

[2018-02-06 03:01] cfis commented on #39
Sorry, yes it did.

[2018-02-06 03:01] #39 closed

[2018-02-06 03:01] cfis commented on #38
Yes, works fine here too with both msys2 and msvc++.

[2018-02-18 10:50] davvelsan opened #56 "No rule to make target `/C/SDK/Ruby25_x64/include/ruby-2.5.0/ruby.h'"
I am sure this is not a bug in debase, but likely a problem on my end with any gem that requires external c compilation.

Still, I would appreciate any input as to why the following error is occurring.

[code]
[code]

[2018-02-18 11:52] davvelsan commented on #56
Do'h, turns out `MSYS` did not have a make package installed, so the compiler was using an old version I had in the `PATH` from `Rtools`.

I went into MYSYS, ran `pacman -Syyu` and then `pacman -S make-4.2.1`. Fixed.

I'm closing this issue.

[2018-02-18 11:52] #56 closed

[2018-03-02 19:45] surkuar opened #57 "ERROR: Error installing debase: ERROR: Failed to build gem native extension."
Ruby - v ==> ruby 2.4.3p205 (2017-12-14 revision 61247) [i386-mingw32]

C:\Ruby24\bin>gem install debase
Temporarily enhancing PATH for MSYS/MINGW...
Building native extensions. This could take a while...
ERROR:  Error installing debase:
        ERROR: Failed to build gem native extension.
**gem_make.out**
current directory: C:/Ruby24/lib/ruby/gems/2.4.0/gems/debase-0.2.2/ext
C:/Ruby24/bin/ruby.ex

[2018-07-31 15:53] tiesel opened #64 "ibf_load_iseq_complete in debase_internals not found"
Dear Team,
the call to ibf_load_iseq_complete is not found in debase_internals.so on fedora 28.
Source is debase_internals.c:647,
version is tag v0.2.3.beta2 if I get this right.
I can't find the definition in the code. Is there another library that should be linked?
Thanks in advance
Matthias

[2018-07-31 16:24] ViugiNick commented on #64
@tiesel What ruby version do you use?

[2018-07-31 16:31] tiesel commented on #64
It is ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux]

[2018-07-31 16:54] ViugiNick commented on #64
@tiesel https://github.com/os97673/debase-ruby_core_source/blob/882e9c632348cbde5e7d5d04edd70b9627f29397/lib/debase/ruby_core_source/ruby-2.5.1-p57/iseq.h#L160
It seems that the problem is in linking and building. Could you clarify whether you use rvm/rbenv or system ruby?

[2018-07-31 17:02] tiesel commented on #64
It's plain system ruby, latest version.
ruby-2.5.1-93.fc28.x86_64 is the package name

[2018-08-22 11:07] mpokrywka commented on #64
Commit "monkeypatch load_iseq for debugger to work along with bootsnap" will not work with system ruby, because symbol "ibf_load_iseq_complete" is not exported (I checked my system's /usr/lib/x86_64-linux-gnu/libruby-2.5.so.2.5 )

[2018-09-02 07:45] M-Hagras opened #65 "ERROR: Error installing debase:"
`when I run: gem install debase --pre
Building native extensions. This could take a while...
ERROR:  Error installing debase:
        ERROR: Failed to build gem native extension.

    current directory: /Users/user/.rvm/gems/ruby-2.3.7/gems/debase-0.2.3.beta2/ext
/Users/user/.rvm/rubies/ruby-2.3.7/bin/ruby -r ./siteconf20180902-70061-1p5vfd7.rb extconf.rb
*** extconf.rb failed ***
Could not create

[2018-09-14 14:38] tiesel commented on #64
So, finally I was able to solve the problem -- at least for me (Fedora 28, newest patches):
gem uninstall --user-install debase
selected debase-0.2.3.beta2
, so that debase-0.2.2 is the newest version. That obviously doesn't require ibf_load_iseq_complete.

[2018-10-15 15:52] ViugiNick commented on #65
@M-Hagras do you have debase/ruby-core-sources installed in your ruby-2.3.7?

[2018-10-16 07:08] M-Hagras commented on #65
@ViugiNick Thanks for your reply,
yes debase-ruby_core_source (0.10.3) is installed

[2018-10-16 10:38] ViugiNick commented on #65
https://github.com/os97673/debase-ruby_core_source/tree/master/lib/debase/ruby_core_source looks like there is no such version in this gem, can you please try another ruby version

[2018-10-16 10:52] M-Hagras commented on #65
For ruby-2.5.1 I have no problem
debase (0.2.3.beta2, 0.2.2)
debase-ruby_core_source (0.10.3)

[2018-10-16 11:09] ViugiNick commented on #65
@M-Hagras Ok, I'll try to add 2.3.7 ASAP

[2018-10-26 15:15] ViugiNick commented on #64
@tiesel @mpokrywka Looks like it can be fixed for the 2.5.2 version, are you OK with using it?

[2018-11-13 10:17] openscript commented on #64
I ran in the same problem with `ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]` as a system installation:

    /usr/lib/ruby/2.5.0/rubygems/core_ext/kernel_require.rb:59:in `require': /home/rdex/.gem/ruby/2.5.0/gems/debase-0.2.3.beta2/lib/debase_internals.so: undefined symbol: ibf_load_iseq_complete - /home/rdex/.gem/ruby/2.5.0/gems/debase-0.2.3.beta2/lib/debase_internals.so (LoadError)

[2018-11-13 10:51] openscript commented on #64
I've switched to `asdf`. As already mentioned by @ViugiNick it works with a non-system ruby installation.

[2018-11-19 12:31] tiesel commented on #64
@ViugiNick
Sorry I come back so late: This is perfectly o.k. with me.
It was mainly a lack of ruby Gemfile / rubymine skills at my site and I am now able to compose a gems / versions collection and debug with it. So go ahead, if you didn't already.

[2018-12-10 20:15] brodock opened #66 "Ruby 2.5.3 and bootsnap still not working"
I've followed this issue: https://github.com/Shopify/bootsnap/issues/168 but it looks like it's not the iseq that is breaking. Here is the output I get:

[code]

[2018-12-11 18:08] brodock commented on #66
@ViugiNick yes

[2018-12-31 12:29] k2m30 opened #67 "Ruby 2.6"
Just switched to Ruby 2.6.0 from 2.5 on Mac OS

`gem install debase --pre`
Building native extensions. This could take a while...
ERROR:  Error installing debase:
	ERROR: Failed to build gem native extension.

    current directory: /Users/user/.rvm/gems/ruby-2.6.0/gems/debase-0.2.3.beta2/ext
/Users/user/.rvm/rubies/ruby-2.6.0/bin/ruby -I /Users/user/.rvm/rubies/ruby-2.6.0/lib/ruby/2.6.0 -r ./site

[2019-01-04 04:52] rockorequin commented on #67
The error with "FALSE not defined" seems to be in the debase-ruby_core_source gem v0.10.4. I edited this file:

`/usr/local/rvm/gems/ruby-2.6.0/gems/debase-ruby_core_source-0.10.4/lib/debase/ruby_core_source/ruby-2.6.0-p0/vm_insnhelper.h`

and added the line:

`#include "regenc.h"`

before this line:

`RUBY_SYMBOL_EXPORT_BEGIN`

and this fixes the problem building debase v0.2.3.beta2 for me.

[2019-01-08 01:59] valich commented on #67
I could not find any sensible way to compile `vm_insnhelper.h` from 2.6. However, it seems that it's not really needed for debase, I've cleaned up the includes, now it should work. Please check out `0.2.3.beta3`.

[2019-01-15 05:08] Ingu commented on #67
On windows i'm still getting
[code]

using https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-2.6.0-1/rubyinstaller-devkit-2.6.0-1-x64.exe

gemfile:
[code]

[2019-01-15 05:09] Ingu opened #69 "Ruby 2.6 on windows 10"
On windows i'm getting
[code]

using https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-2.6.0-1/rubyinstaller-devkit-2.6.0-1-x64.exe

gemfile:
[code]

[2019-01-21 09:09] Ingu commented on #69
@valich this one fixed compilation on ruby 2.6 on windows, could you release v0.2.3.beta4 ?

[2019-01-21 12:22] valich commented on #69
Done, please check.

[2019-01-21 15:02] luke-hill opened #71 "Use better approximation of semver"
Hi All,

I'm aware this is a tricky gem to maintain and that it has a lot of usages. But it is very tricky to have all of the automated tools (RubyMine / bundler), auto-install this gem because it nearly is always (At least in the last 2-3 years), pointing at a beta version.

Realistically we shouldn't be moving through 4-5-6 beta versions inbetween each patch version. We should just release a 0.2

[2019-01-21 19:57] valich commented on #71
@luke-hill Thanks for pointing this out. The main reason we did not consider this as an important issue is that RubyMine handles installation betas automatically, so we did not have much problems related to this "tradition".

Could you please elaborate on the particular cases when using semver properly in this repo could lead to a better results? Thank you.

[2019-01-24 12:02] #69 closed

[2019-01-24 12:03] Ingu commented on #69
works great, closing

[2019-03-18 11:28] #67 closed

[2019-03-26 16:38] tiesel commented on #64
Under F29, using vanilla ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]
this still persists. But fortunately, the solution still works:
gem uninstall --user-install debase
selected debase-0.2.3.beta2
, so that debase-0.2.2 is the newest version. Voila, debugging works again.

[2019-03-26 17:17] ViugiNick commented on #64
@tiesel Did you try 0.2.3.beta5?

[2019-03-29 15:20] tiesel commented on #64
Very nice!
The debugger works with debase:0.2.3.beta5 here on Fedora 29,
vanilla ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]
Thanks a lot!

[2019-03-29 15:31] #64 closed

[2019-04-01 19:19] ViugiNick commented on #66
@brodock Can you try the last version of `debase` and `ruby-debug-ide`?

[2019-04-02 20:22] ViugiNick commented on #65
@M-Hagras It should work now with the latest `debase` version

[2019-04-02 20:27] ViugiNick commented on #57
@surkuar 1) Do you have Devkit installed (https://github.com/ruby-debug/ruby-debug-ide/issues/140#issuecomment-376746682)
Looks like you have an error about it: `C:/Ruby24/lib/ruby/2.4.0/mkmf.rb:457:in try_do': The compiler failed to generate an executable file. (RuntimeError) You have to install development tools first. from C:/Ruby24/lib/ruby/2.4.0/mkmf.rb:588:in try_cpp'`

2) Maybe installing t

[2019-04-17 09:41] luke-hill commented on #71
Any thoughts on this? Could we just cut the latest version as stable so it is auto-pulled in, I can't think of a negative to this...

[2019-04-22 12:05] ViugiNick commented on #71
cc @valich

[2019-06-13 18:55] tyrantdavis opened #74 "t"

[2019-06-17 03:50] rockorequin opened #75 ""Step over/next" command often performs "continue" in ruby 2.6"
With ruby 2.6.3 and ruby-debug-ide (I use Netbeans 11), I find that the 'Step Over' command often just continues until the next breakpoint. 'Step Over' works fine in ruby 2.5.5.

These issues might be related:
https://github.com/deivid-rodriguez/byebug/issues/550
https://github.com/googleapis/google-cloud-ruby/issues/3022

Quoting from the latter:

I don't know if this might be related to the Trac

[2019-06-20 07:01] ViugiNick commented on #75
@rockorequin Could you provide a sample script to reproduce the problem?

[2019-06-20 07:03] #74 closed

[2019-06-27 06:59] rockorequin commented on #75
This script shows the problem for me: with 2.6.3p62, if I put a breakpoint on the line "k = DateTime.parse..." line and then do a 'next' when it hits that line, instead of stopping on the "puts" line, the code stops at ruby-debug-ide.rb#101, ie the line saying: if bt && !bt.is_a?(SystemExit).

[code]

[2019-07-05 14:34] luc4leone opened #76 "Error installing debase"
Hello,

I am on a macOS High Sierra version `10.13` with  ruby `2.3.3p222` (2016-11-21 revision 56859) [universal.x86_64-darwin17].

I'd like to debug Ruby scripts in the vscode editor. To do that I am trying to install `debase`, but I get this error:

[code]

## mkmf.log

[code]

Any suggestion on how to fix the problem? I checked issues #57 and #65 but could not fix the problem.

Same problem wh

[2019-07-06 10:01] luc4leone commented on #76
Update.

I updated `rubygems` with `sudo gem install rubygems-update`
Result: `Done installing documentation for rubygems-update after 40 seconds`

Then I installed `debase-ruby_core_source` with `sudo gem install debase-ruby_core_source`
Result: `Successfully installed debase-ruby_core_source-0.10.5`

Then tried to install `debase` but got back the same error.

[2019-07-15 13:28] ViugiNick commented on #76
@luc4leone Could you try to install these packages: https://stackoverflow.com/a/14217431

[2019-07-16 09:15] luc4leone commented on #76
@ViugiNick thanks! When I run

[code]

Then I tried

[code]

doing something wrong?

[2019-07-24 03:30] rockorequin opened #78 "Version 0.2.3 hangs on page load after hitting breakpoint"
I have a Netbeans 11 / Rails 5.0.2 / ruby-debug-ide 0.7.0 project.

I find that with debase 0.2.3, the debugger hangs with this sequence:

- I load a page on the browser.
- The debugger stops at a breakpoint.
- I press F5 in Netbeans to continue.
- The page finishes loading in the browser.
- I press F5 on the browser to refresh the page, or I try to navigate to another page.
- In the Netbeans log

[2019-07-24 13:01] ViugiNick commented on #78
@rockorequin Am I right, that debugger should stop on the breakpoint after refreshing the page in a browser, but it wasn't?

[2019-07-25 08:13] rockorequin commented on #78
Yes, the debugger should stop on the breakpoint. But I think it freezes before even that point, because there  none of the log messages you'd expect to see prior to hitting the breakpoint appear. Also, if I go to another page where there isn't a breakpoint to hit, that page never loads.

[2019-07-27 08:10] sedubois opened #79 "Segmentation fault"
As prompted by the command line, I am making a bug report. Not sure if this is the right place to do so! This happened when trying to run an rspec test from within IntelliJ. The debase gem isn't in my Gemfile but somehow loaded by IntelliJ IDEA when debugging.

Console log:
<details>

[code]
</details>

`~/Library/Logs/DiagnosticReports/ruby_2019-07-27-092609_sdubois-macbook.crash`:
<details>

[co

[2019-07-27 14:43] skarger commented on #79
I am seeing the same problem. For me it started on July 25 after I upgraded IntelliJ to `Build #IU-192.5728.98, built on July 23, 2019`. Before that I can confirm that the IDE debug feature was working fine. Now it produces a similar seg fault error as what @sedubois reported above.

With the IntelliJ upgrade, the Rubymine debugger installs `debase` version `0.3.0.beta3`, as well as `ruby-debug-id

[2019-07-29 08:57] ViugiNick commented on #79
@sedubois @skarger  Could you try the following workaround: in file `/Users/sdubois/.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/debase-0.3.0.beta3/lib/debase.rb`  add `if iseq` after two `Debugger.handle_iseq(path, iseq)` accurances

[2019-07-29 10:53] ViugiNick commented on #79
@sedubois @skarger https://youtrack.jetbrains.com/issue/RUBY-24642

[2019-07-29 10:55] ViugiNick commented on #78
@rockorequin I managed to reproduce it

[2019-07-29 13:33] skarger commented on #79
@ViugiNick when I make that change it avoids the seg fault error, but it doesn't actually pause execution at the breakpoint I set in IntelliJ.

Maybe it doesn't pause because `iseq` is (unexpectedly) `nil`?

I'm using this modified code:
[code]

[2019-07-29 13:40] ViugiNick commented on #79
@skarger Hmm, could you log path for cases when iseq is nil?

[2019-07-29 13:45] ViugiNick commented on #79
@skarger Or you can just share an example, so I can reproduce the problem

[2019-07-29 15:34] ViugiNick commented on #78
@rockorequin @thestelz Could you please check debase gem version from this repo: https://github.com/ViugiNick/debase?

[2019-07-30 18:03] skarger commented on #79
@ViugiNick I attempted to reproduce with an example new Rails app but it successfully paused execution there.

I cannot share the code for the real project I have where it fails to pause. However, I added some logging and ran Debug for an example rspec test from that project. It shows that `iseq` is never `nil` in the `load_iseq` method, but is always `nil` in the `do_set_flags` method.

[2019-07-30 18:06] ViugiNick commented on #79
@skarger Is it nil for the file with a breakpoint?

[2019-07-30 19:49] skarger commented on #79
@ViugiNick yes it is, if I understand you correctly.

In the IDE I have a breakpoint set in a given file, `./spec/my_spec.rb`.
With my logging in `debase`, I see
"`do_set_flags: path: /full/path/to/spec/my_spec.rb, iseq nil? true`"

But `iseq` is always `nil` in `do_set_flags` in my experiment.

Here's the logging for `do_set_flags`. I have a similar line in the outer `load_iseq`.
[code]

In case

[2019-07-31 18:32] ViugiNick commented on #79
@skarger But if do_set_flags is called for `/full/path/to/spec/my_spec.rb` then InstructionSequenceMixin2#load_iseq is called for files from you project. Could you please try temporary disable spring (comment it in boot.rb)

[2019-07-31 19:49] skarger commented on #79
@ViugiNick

In our project we actually don't turn on spring in config/boot.rb. It seems like IntelliJ automatically uses spring though. I have commented `bin/spring` and `config/spring.rb`, and I've disabled it in the IntelliJ RSpec Run Configurations.

When I Debug the test, it now prints out the following command, which says nothing about spring:

`/bin/bash -c "env RBENV_VERSION=2.6.3 /Users/sk

[2019-08-01 05:52] rockorequin commented on #78
@ViugiNick Thanks, debase from that repo looks like it fixes the problem.

[2019-08-01 06:00] rockorequin commented on #75
@ViugiNick Did you have any luck reproducing this?

[2019-08-01 10:47] iggycoder commented on #78
Just a side note: Had a similar behavior with VSCode 1.36.1 and ruby-debug-ide 0.7.0, debase 0.2.3
After a successful break point cycle of stepping in and continuing code, a second break point cycle was not possible anymore. The whole server stopped responding. Only chance was to disconnect the debugger. Debase from @ViugiNick repo fixes the problem for me as well. :)

[2019-08-01 21:12] skarger commented on #79
@ViugiNick I confirmed that bootsnap is the reason it does not pause in my project.

If I comment the `require 'bootsnap/setup'` line in `config/boot.rb` then Debug will successfully pause execution.

Alternatively, I can configure `bootsnap` like so:

`config/boot.rb`
[code]

Also with that change, I no longer need the `if iseq` guard clause in `debase` to prevent the seg fault. Evidently with bo

[2019-08-05 05:53] rockorequin commented on #75
Fwiw, I tried ruby 2.7.0-preview1 and it seems that it doesn't have this problem, so maybe it's a bug in the underlying ruby-2.6 tracepoint API.

[2019-08-05 10:25] ViugiNick commented on #75
@rockorequin looks like you are right. Are you ok with using 2.7.* or should I try to fix this for 2.6.*?

[2019-08-05 10:28] ViugiNick commented on #78
@iggycoder Sound like a problem on the vs code plugin side. Is it possible to log verbose debugger information somehow in VSCode?

[2019-08-05 20:48] weedySeaDragon commented on #79
This is also a problem for me.  I also getting a SegFault with bootsnap.  It doesn't happen if I comment out the bootsnap line in my `boot.rb`.

Not everyone uses the same (or any) IDE  on my project, so just commenting out `bootsnap` in the `boot.rb` file won't work.
I'm not sure if making the specific changes to the bootsnap setup as @skarger did above would mess up other folks on my project tha

[2019-08-05 21:16] iggycoder commented on #78
Ok. This issue has been [reported](https://github.com/rubyide/vscode-ruby/issues/510).

[2019-08-06 06:24] rockorequin commented on #75
@ViugiNick Personally I'm fine with using 2.7 for now or I can go back to 2.5 if 2.7 breaks something down the line. Perhaps it could be noted as a known issue with 2.6 in the readme?

[2019-08-07 09:12] luke-hill commented on #71
This seems fixed :) Keep the system as it is now, makes it so much easier!

[2019-08-07 09:12] #71 closed

[2019-08-07 17:06] ViugiNick commented on #78
@rockorequin @thestelz Published a 0.2.4 debase version, this issue should be resolved there

[2019-08-07 17:27] ViugiNick commented on #79
@skarger @weedySeaDragon @sedubois We are working on fixing the problem with bootsnap, hopefully, it will be fixed in one of the upcoming releases

[2019-08-07 19:15] texpert commented on #71
@luke-hill , you've closed the issue too early :)

I am experiencing this weird behavior for a few months. Thought it would be fixed with a new debase version, but 0.2.4 has just been released (which I hope will fix the debugger doesn't stop when stepping), and still no luck.

RubyMine is constantly telling me "The gem debase required by the debugger is not currently installed. Would you like to i

[2019-08-08 02:05] rockorequin commented on #78
@ViugiNick Thanks! 0.2.4 is working fine.

[2019-08-08 07:11] luke-hill commented on #71
The issue wasn't that a version was broken. The issue was they stayed in beta way too long and didn't allow me to auto-install it.

If a version is broken then a separate issue needs raising. And an appropriate bug fix patch should be released

[2019-08-08 09:17] ViugiNick commented on #71
@luke-hill @texpert now you can switch between using `debase 0.3.0*`(with a number of cool features from https://www.jetbrains.com/ruby/whatsnew/) and `debase 0.2.*` by turning on/off the `Experinteal Features -> ruby.use.experimental.debugger` in go to action popup

[2019-08-08 10:45] texpert commented on #71
Thank you, @ViugiNick for explication!

Though, the 0.2.4 version is still not being used - the 0.2.3.beta is loaded.

[2019-08-09 11:19] thestelz commented on #78
@ViugiNick I was using the `0.2.3` and `0.2.4` versions with no issues. I think it's good to go.

[2019-08-12 15:56] mskogen opened #82 "Issue with stepping in VSCode with debase versions 0.2.4 and 0.2.3"
## Cannot Step Through Ruby Scripts in VS Code
I've had a very strange issue occurring in VS Code the last week or so. The stepping functions in the VS Code debugger have not been working for me. I have tested this issue with several different versions of Ruby, VS Code, and the 'ruby-debug-ide' gem and it appears the issue is only fixed when I revert my debase version back to '0.2.3.beta5'.

### I

[2019-08-12 16:15] ViugiNick commented on #82
@mskogen Could you please attach an example code snippet, so I can reproduce the problem with stepping

[2019-08-12 16:29] mskogen commented on #82
It isn't anything crazy, this is just a test script I was using to try and step line-by-line. This is how I was troubleshooting the debugging:

puts 4
puts 7
puts 9
puts 3
puts 9
l = 7
puts "hello"
h = 9
puts h + l

[2019-08-12 16:52] ViugiNick commented on #82
@mskogen Thats strange, in RubyMine 2019.2 with 0.2.4 everything works fine

[2019-08-12 17:03] ViugiNick commented on #82
@mskogen breakpoint on the first line and step over through all lines

[2019-08-12 17:27] mskogen commented on #82
I think the issue is with VS Code and the gem. Have you tried reproducing the issue in VS Code?

[2019-08-12 17:27] mskogen commented on #82
@ViugiNick

[2019-08-12 17:27] ViugiNick commented on #82
@mskogen not yet

[2019-08-12 17:43] ViugiNick commented on #82
@mskogen With ruby 2.6.3 everything works fine at least on this sample

[2019-08-12 17:44] mskogen commented on #82
@ViugiNick is this your ruby version?

`ruby -v`
ruby 2.6.3p62 (2019-04-16 revision 67580) [x64-mingw32]

[2019-08-12 17:45] mskogen commented on #82
Also are you running Windows 10?

[2019-08-12 17:46] ViugiNick commented on #82
@mskogen ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
running on ubuntu

[2019-08-12 17:50] mskogen commented on #82
@ViugiNick I wonder if this issue is only apparent on the Windows 10 ruby/VS Code configuration? Do you have an easy way to test that? If not I can try to to test on a linux VM as well and see if I can reproduce the same issue.

[2019-08-12 17:57] ViugiNick commented on #82
@mskogen Ok, I'll try to check it on Windows, but could you also test in Linux?

[2019-08-12 18:08] mskogen commented on #82
@ViugiNick ill try to check it out on Linux as well

[2019-08-14 16:58] erichmusick-stripe commented on #82
I can repro the step behavior issue under VS Code 1.36.1 on OSX 10.14.5 using @mskogen 's sample program.

ruby 2.4.5p335 (2018-10-18 revision 65137) [x86_64-darwin18]
ruby-debug-ide 0.6.1
debase 0.2.4

Step behavior works properly when using debase 0.2.2 and 0.2.3.

Not only does stepping fail in 0.2.4, but if I set two breakpoints, hit the first, and hit Continue, the program skips the second br

[2019-08-16 18:37] ViugiNick commented on #78
@rockorequin Could you please close the issue?

[2019-08-16 18:39] ViugiNick commented on #79
@skarger @weedySeaDragon @sedubois @amatrian Could you please check it in RubyMine 2019.2.1 RC

[2019-08-17 18:32] weedySeaDragon commented on #79
@ViugiNick - working!  paused in a Controller as well as a Model just fine.

version info from About RubyMine:
[code]

info from RubyGems Environment:
[code]

[2019-08-21 04:07] #78 closed

[2019-08-21 20:01] jvilk-stripe commented on #82
@ViugiNick any luck reproducing? This is a recurring problem for folks with @erichmusick-stripe's setup.

[2019-08-29 16:27] jvilk-stripe commented on #75
I think the byebug maintainer figured out the issue with 2.6, and 2.6.4 might fix:

https://github.com/deivid-rodriguez/byebug/issues/550#issuecomment-525921168

[2019-08-29 21:32] jvilk-stripe commented on #82
@mskogen With Ruby 2.6.4 and Debase 0.2.4, this problem is gone.

There was a bug in Ruby 2.5 and 2.6 where Ruby was not emitting a trace point for some return statements.

See https://github.com/deivid-rodriguez/byebug/issues/550#issuecomment-525921168 for further context.

[2019-09-02 10:09] ViugiNick commented on #82
@jvilk-stripe thanks for pointing this out! @erichmusick-stripe @mskogen Could you check if upgrading ruby resolves the issue?

[2019-09-05 21:12] m-dwyer commented on #82
I've replicated it with @mskogen's sample script above.
Arch Linux, kernel 5.2.11

[code]

Breakpoints work on the puts, but when trying to step over/into the assignments, the script runs until the end. debase 0.2.4 allows me to hit the first breakpoint, but  subsequent breakpoints fail.

[2019-09-05 21:37] mskogen commented on #82
@ViugiNick upgrading Ruby does not fix the issue

[2019-09-06 17:50] ViugiNick commented on #82
@mskogen @m-dwyer @jvilk-stripe I still can't reproduce it, but I added some more logging there: could you please uninstall 0.2.4 debase and install the version from this branch https://github.com/ViugiNick/debase/tree/logging

[2019-09-06 18:30] mskogen commented on #82
When you try to replicate the issue what version of VisualStudio, Ruby, and debase are you using? Also are you trying to replicate the issue on Windows?

[2019-09-09 14:18] ViugiNick commented on #82
@mskogen @m-dwyer @jvilk-stripe @erichmusick-stripe Finally reproduced and fixes. Will release a new version ASAP

[2019-09-09 14:38] #82 closed

[2019-09-09 18:18] ViugiNick commented on #82
@mskogen @m-dwyer @jvilk-stripe @erichmusick-stripe 0.2.5 released!

[2019-09-09 19:33] mskogen commented on #82
You did it! Fixed on my machine now too @ViugiNick

[2019-09-13 13:48] ViugiNick commented on #82
@mskogen @m-dwyer @jvilk-stripe @erichmusick-stripe used to remove 0.2.5 and publich 0.2.4.1 instead (fix included)

[2019-09-13 19:28] amilano commented on #82
Hi everybody... `0.2.5` was removed, but bundler keeps trying to fetch that version instead of `0.2.4.1` is there anything else to do other than manually restricting debase to use a gem lower than `0.2.5`?

Even after removing it from the `Gemfile`, bundling and adding it back bundler keeps looking for `0.2.5`

[2019-09-13 19:46] ViugiNick commented on #82
@amilano Maybe that's because of the Gemfile.lock?

[2019-09-13 19:50] amilano commented on #82
Well, I actually removed the gem from `Gemfile` and bundled in order to delete it from `Gemfile.lock`... added it again (`gem 'debase', '~> 0.2.2'`) and bundled. Bundler got again `0.2.5` into `Gemfile.lock`.

For now I restricted the gem to use versions lower to `0.2.5` like this: `gem 'debase', '~> 0.2.2', '< 0.2.5'`. But I was wondering if there's something else to do, or if it's only me having

[2019-09-17 00:27] bisrael commented on #79
Not sure if the exact issue, but I've created a sample app that will segfault in String#gsub on startup:

https://github.com/bisrael/debase_crash_app

[code]

[2019-09-17 00:38] bisrael commented on #79
I can set a breakpoint at the last file `gems/addressable-2.7.0/lib/addressable/uri.rb:565`, and the debugger will stop, but then if i try to step into `self.encode_component` there, the segfault happens.

[2019-09-17 00:41] ViugiNick commented on #79
@bisrael Could you please update RubyMine. This problem is fixed in a later versions of debase gem

[2019-09-17 00:52] bisrael commented on #79
I think I have the latest version:

RubyMine 2019.2.2
Build #RM-192.6603.29, built on September 6, 2019
Licensed to Blake Israel
Subscription is active until May 15, 2020
For educational use only.
Runtime version: 11.0.3+12-b304.56 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.5
GC: ParNew, ConcurrentMarkSweep
Memory: 1981M
Cores: 8
Registry: debugger.watches.in.variables=fals

[2019-09-17 00:57] ViugiNick commented on #79
@bisrael Could you please try this one: https://twitter.com/rubymine/status/1172121556673318912?s=19
Or this one:
https://twitter.com/rubymine/status/1172526396880621568?s=19

[2019-09-18 17:20] bisrael commented on #79
@ViugiNick - thank you, the EAP is working correctly. I'll leave that repo be if you need something to test against.

[2019-09-30 15:49] ashawley opened #84 "Missing version tags"
I'm not seeing git tags for the recent releases of debase.

https://github.com/denofevil/debase/releases

These tags are missing

- v0.2.4
- v0.2.4.1
- v0.2.5

https://rubygems.org/gems/debase/versions

Could the tags be pushed up?

[2019-10-04 21:00] iox commented on #75
I can confirm. I just upgraded from 2.6.3 to 2.6.5 and the problem with debase and "step over" is gone. I think this issue can be closed :)

[2019-10-09 10:57] ViugiNick commented on #76
@luc4leone Sorry for the late response, could you please try to install debase version from this repo https://github.com/ViugiNick/debase

[2019-10-09 12:45] ViugiNick commented on #76
@luc4leone Looks like this flag will help you https://stackoverflow.com/a/22525677

[2019-10-09 17:10] ViugiNick commented on #76
https://github.com/denofevil/debase/pull/85

[2019-10-11 08:12] liujinxia commented on #65
use rvm and install ruby newest version, then use rubymine debug mode , fix my problem

[2019-10-11 09:19] ViugiNick commented on #65
@liujinxia Do you mean that everything works fine now?

[2019-10-18 08:03] luc4leone commented on #76
Thanks

[2019-11-14 23:28] mkasberg commented on #66
I commented in [RubyMine YouTrack](https://youtrack.jetbrains.com/issue/RUBY-20684) as well, but perhaps this is the right GitHub issue to continue discussion...

I'm experiencing not-working breakpoints in RubyMine with:
* ruby 2.5.5
* ruby-debug-ide 0.8.0.beta11
* debase 0.3.0.beta11
* bootsnap 1.3.0
* rails 5.2.3

The workaround of commenting out bootsnap makes the breakpoints behave correctly.

[2019-11-15 11:13] ViugiNick commented on #66
@mkasberg Could you please try RubyMine 2019.3 Beta?

[2019-11-18 15:49] mkasberg commented on #66
Thanks for the reply!

I tested the behavior I'm observing with the following versions:

- RubyMine 2019.3 Beta (193.5233.24)
- ruby 2.5.5
- ruby-debug-ide 0.8.0.beta19,
- debase 0.3.0.beta19
- bootsnap 1.3.0
- rails 5.2.3

I did not observe any behavior difference between these versions and RubyMine 2019.2. That is to say, Bootsnap still appears to prevent my breakpopints from working in the most

[2019-11-19 14:23] ViugiNick commented on #66
@mkasberg Ok, is it possible to share some example, so I can reproduce the problem, maybe you place breakpoints in some specific locations?

[2019-11-20 04:40] mkasberg commented on #66
I don't have an example I can share that's immediately available, but I will work on a minimal example to reproduce the problem. (Maybe I'll even figure something out in the process.) I'll get back to you in a few days if I can get something that's small and reproducible.

[2019-11-23 02:18] mkasberg commented on #66
The process of constructing a minimal example actually helped me track down the source of the problem. As it turns out, the solution was very simple. Upgrading to **Bootsnap 1.4.5** solved the problem for me due to https://github.com/Shopify/bootsnap/pull/257. I was under the impression I didn't need to do this on Ruby 2.5.5 due to [this comment](https://github.com/Shopify/bootsnap/pull/257#issuec

[2019-11-23 03:52] mkasberg commented on #66
Also, I do now have a fairly minimal example I could share if that would be useful for any of your testing purposes...

[2019-11-25 09:58] ViugiNick commented on #66
@mkasberg Could you e-mail it to me, please?

[2019-11-25 16:54] mkasberg commented on #66
Sure! [mkasberg-breakpoints.zip](https://github.com/denofevil/debase/files/3887726/mkasberg-breakpoints.zip)

Steps to reproduce are in the README in the zipped folder.

[2019-11-26 19:05] ViugiNick commented on #66
@mkasberg Are you ok with upgrading bootsnap gem?

[2019-11-27 00:10] mkasberg commented on #66
Yep, already did it! Thanks for the help!

[2019-12-04 07:15] Shiun commented on #76
Thank you, this unblocked me.

[2020-01-16 02:42] dimsky commented on #76
same error

[2020-01-16 11:07] ViugiNick commented on #76
@dimsky The latest debase version should work fine now

[2020-04-13 10:44] qortex opened #86 "Deprecation warning: warning: $SAFE will become a normal global variable in Ruby 3.0"
This warning shows up in the console when a variable needs to be evaluated in the `watch` panel (using vscode and `ruby-debug-ide`):
[code]

[2020-04-13 10:46] qortex opened #87 "Hash variables as string?"
It looks like variables are stringified (`to_s`?) to be shown in the Watch panel (using visual studio code).

Is there a way to have them displayed as a navigable tree when it's a hash? (as in the variables pane)

[2020-04-13 18:55] ViugiNick commented on #86
@qortex Can't find $SAFE occurrences, maybe the problem is on the vscode plugin side

[2020-04-13 19:00] qortex commented on #86
Ok thanks, will look into it!

[2020-04-13 19:00] #86 closed

[2020-04-13 19:29] ViugiNick commented on #87
@qortex Current implementation of ruby-debug-ide/debase gems allows to implement such representation. So it's better to create an issue in vscode plugin repo.

Thats how it looks in RubyMine:
![image](https://user-images.githubusercontent.com/6137315/79153231-2f676500-7dd6-11ea-905c-7ebce8d7b60b.png)

[2020-04-15 01:42] Ramonfan commented on #76
How did it end up?

[2020-04-16 14:41] luc4leone commented on #76
I surrendered.

[2020-04-19 06:47] qortex commented on #87
Thanks, I'll do that!

[2020-04-19 06:47] #87 closed

[2020-04-20 13:07] nikoloss commented on #76
Lol...

[2020-04-20 20:50] jvarness commented on #65
This was what I had to do. It was because the version of ruby that I had installed didn't come with ruby sources.

[2020-04-21 03:38] jvarness commented on #76
I had an issue with this on macOS up until I went and installed the ruby version I was using but using rvm instead of whatever was installed at the time.

rvm installs ruby binaries and source apparently, which debase has to have in order to compile native extensions.

[2020-05-19 17:58] carlosdanna commented on #76
I don't know if this may help because it kind of happened by accident but the way I managed to make it work is by relocating the place of where the gems are from /Library/Ruby/ to somewhere else in my case I used rbenv default path. Also something worth mentioning while using rbenv is to have a version already installed.

I know is not much but I felt like sharing after struggling with this for 2

[2020-06-19 11:22] dkallipo commented on #86
@qortex is there any solution to this problem? Why was the issue closed. Thanks

[2020-06-19 11:27] qortex commented on #86
Don't know, didn't look into it more than that.
It would be interesting to look up the root cause and know where it comes from, from debase or the vscode plugin.

[2020-06-19 12:16] dkallipo commented on #86
I found the root cause: it's because of vs code's evaluation of global variables during debugging. One way to solve this is by hiding the 'variables' sub-panel on the side-bar.

[2020-06-19 12:27] qortex commented on #86
Which project is it located in? We could work towards a fix PR.

[2020-06-19 12:50] denofevil commented on #86
I think it might be handled on ruby-debug/ruby-debug-ide side, https://github.com/ruby-debug/ruby-debug-ide/blob/master/lib/ruby-debug-ide/commands/variables.rb#L41 //cc @ViugiNick

[2020-06-19 14:26] dkallipo commented on #86
What I described was actually just a workaround to get rid of the annoying warning by just changing the VS code GUI settings. FYI, I resorted to downgrading to Ruby 2.6 because I was experiencing inconsistent and strange behavior by the VS code debugger.

[2020-08-05 15:39] stanhu opened #88 "Ruby 2.7.1 compatibility"
[code]

[2020-08-11 16:13] getaaron opened #89 "Won't install with ruby 2.6.6 on macOS Big Sur"
# Installing via RubyMine

When I try to use RubyMine to install debug tools:

[code]

I don't know much about debase but it looks like first it doesn't find anything for 2.6.6 so falls back to 2.6.5 (maybe this is fine?):

Then it runs into a few similar compiler errors:

[code]

for example

I couldn't find `zcf306596f3 ` when searching [all of GitHub](https://github.com/search?q=zcf306596f3) so

[2020-08-12 13:14] BooVeMan commented on #89
I'm seeing the same error on ruby 2.7.1 and Catalina, when trying to install from inside Rubymine

[2020-08-13 07:53] Wolfer commented on #88
+1. same problem

[2020-08-20 16:57] xhs345 commented on #88
Same issue with Ruby 2.5.5 and Mac OS 10.15.6

[2020-08-28 03:33] matschaffer commented on #89
ruby 2.6.6 (rbenv install) and Catalina here, seeing the same when intellij attempts to build debase-0.3.0.beta34 I've commented on https://youtrack.jetbrains.com/issue/RUBY-26859 which looks to be filed from the same problem on 2.7.0 preview

[2020-08-28 13:05] matschaffer commented on #89
Incase it helps, the workaround in the description basically works for IntelliJ Ultimate too, just a different path for the gem file.

[code]

[2020-09-03 15:05] andreebrazeau commented on #89
Couldn't do the same fu rubymine, Is there a other way to install the GEM with RubyMine?

[2020-09-04 00:14] matschaffer commented on #89
@andreebrazeau I don't have rubymine handy, but based on https://youtrack.jetbrains.com/issue/RUBY-26859#focus=Comments-27-4315485.0-0 this might work if you haven't already tried it:

[code]

[2020-09-11 19:51] getaaron commented on #89
For anyone nervous about upgrading, @matschaffer's worked for me on Big Sur.

[2020-09-15 05:51] hurricup commented on #89
Fixed in RubyMine 2020.2.2 RC https://youtrack.jetbrains.com/issue/RUBY-26859

[2020-09-15 05:51] #89 closed

[2020-10-19 02:05] karuppasamy opened #90 "ERROR: Failed to build gem native extension - Mac(Catalina)+RVM(ruby 2.5.8)"
### **Additional Information**
- macOS Catalina 10.15.6 (19G2021)
- rvm 1.29.10
- Xcode 12.0.1 (12A7300)
- gcc

[code]

- tried to install `pre` version too. But getting the same error.

### **Error:**
[code]

[2020-10-19 14:32] francoisjacques commented on #90
Reproed.

[2020-10-19 16:42] francoisjacques commented on #90
Good to know! Thank you @hurricup !

[2020-10-19 19:14] karuppasamy commented on #90
Thank you @hurricup.

[2020-11-06 16:30] eirvandelden opened #91 "0.2.4.1 and 0.2.5.beta Fail to build on macOS Catalina 10.15.7"
What I did:
- `gem install debase`
(also tried)
- `gem install debase --version 0.2.5.beta1`

What I expected:
- succesful installation

What I got:
### 0.2.4.1

[code]

### 0.2.5.beta1

[code]

[2020-11-06 16:31] eirvandelden commented on #91
Note: I saw mention of a workaround [here](https://github.com/ruby-debug/debase/issues/89#issuecomment-686827382) but its not applicable for me as I'm using debase & ruby-debug-ide with VSCode

[2020-11-07 04:31] hurricup commented on #91
You may install any ruby-debug-ide with the same options. Doesn't matter if you are using RubyMine or VSCode

[2020-11-11 17:54] alcamla commented on #76
This is an active issue. I have not been able to install debase on Mac OS Catalina `10.15.7` using Ruby `2.5.6`

[2020-11-12 00:08] stanhu commented on #88
I tried updating Ruby v2.7.2 sources in https://github.com/ruby-debug/debase-ruby_core_source/pull/1, but I still see the same error in the tests.

Somehow `rb_load_protect` in https://github.com/ruby-debug/debase/blob/d313f2c39cc0918f1612a21db934cc2fe4aefa8c/ext/debase_internals.c#L594 is returning an error code of 6 instead of 0.

[2020-11-20 07:16] yishuiliunian commented on #76
same to me

[2020-11-24 09:11] pjocer commented on #76
How did it end up?

[2020-12-04 02:50] r-plus commented on #91
I look the same compiler error when I upgrade to Xcode 12.
In my environment, back to Xcode 11.7 by `xcode-select` is workaround for me.

[2020-12-09 08:43] nikoloss commented on #76
Don't use rvm. use pure ruby though brew. it fixes this issue for me (MacOS HS 10.15)

[2020-12-26 18:43] Govinda-Fichtner opened #92 "Ruby 3.0.0 compatibilty"
I am currently getting the following error when I try to install debase:

[code]

I am getting this error with a standard alpine ruby image (ruby:3.0-rc-alpine) or by using a rbenv installed ruby version.

Any ideas how to fix it?

[2020-12-26 19:32] hurricup commented on #92
ruby3-compatible gem wasn't released yet.

[2020-12-26 20:47] Govinda-Fichtner commented on #92
@hurricup Is there already a beta version that one can test drive? Any expectations for when a ruby3 compatible gem could arrive?

[2020-12-27 04:49] hurricup commented on #92
Not yet

[2020-12-27 08:32] Armen-Markosyan-Vineti commented on #91
This is about Catalina. Is it true for Big Sur as well?

[2020-12-27 10:14] Armen-Markosyan-Vineti commented on #91
the downgrading of Xcode to 11.7 works for Big Sur too.
Thank you @r-plus

[2021-01-12 12:21] hurricup commented on #92
Please, check https://github.com/ruby-debug/debase/releases/tag/v0.2.5.beta2

[2021-01-12 12:21] #92 closed

[2021-01-12 12:22] hurricup commented on #91
https://github.com/ruby-debug/debase/releases/tag/v0.2.5.beta2 should work fine

[2021-01-12 12:22] #91 closed

[2021-01-12 12:22] hurricup commented on #90
https://github.com/ruby-debug/debase/releases/tag/v0.2.5.beta2 should work fine

[2021-01-12 12:22] #90 closed

[2021-01-12 12:23] hurricup commented on #88
https://github.com/ruby-debug/debase/releases/tag/v0.2.5.beta2 should work fine

[2021-01-12 12:23] #88 closed

[2021-01-12 12:27] hurricup commented on #79
This issue is about JetBrains version of the debugger and should be reported at https://youtrack.jetbrains.com/issues/RUBY

[2021-01-12 12:27] #79 closed

[2021-01-12 12:30] hurricup commented on #84
why do you need them?

[2021-01-12 12:38] hurricup commented on #76
Please, try https://github.com/ruby-debug/debase/releases/tag/v0.2.5.beta2 should work just fine

[2021-01-12 12:38] #76 closed

[2021-01-12 12:38] #65 closed

[2021-01-12 12:39] #38 closed

[2021-01-12 12:39] #57 closed

[2021-01-12 12:40] hurricup commented on #27
It's better to report such problems to the netbean tracker. This tracker is for the debugger backend, similar for all IDEs

[2021-01-12 12:40] #27 closed

[2021-01-12 12:41] hurricup commented on #11
Closing this as abandoned, feel free to provide more recent information if any.

[2021-01-12 12:41] #11 closed

[2021-01-12 12:42] hurricup commented on #24
I believe this is obsolete.

[2021-01-12 12:42] #24 closed

[2021-01-12 12:43] hurricup commented on #66
Closing as abandoned. Feel free to provide most recent information after checking most recent debase version.

[2021-01-12 12:43] #66 closed

[2021-01-12 12:44] #75 closed

[2021-01-12 12:45] #84 closed

[2021-01-22 05:46] amarpalbajwa commented on #65
Try
[code]

[2021-01-25 19:14] elviajero971 commented on #89
Hello there. I'm having some issues regarding the installation of ruby 2.6.6 using rbenv on a macbook air M1 Big Sur. I tried several tutorial but nothing seems to work... Any tips from you guys ?
There is the different tutorials followed:

https://www.codegrepper.com/code-examples/delphi/ruby+install+mac

https://gorails.com/setup/osx/11.0-big-sur

https://brandur.org/fragments/ruby-3-on-m1?fbcli

[2021-01-26 06:43] hurricup commented on #89
@elv

This repo is about ruby debugger. Not ruby.

[2021-03-02 20:44] rafaelfranca opened #93 "Missing tags for 0.2.4 and 0.2.4.1 release"
Can you please publish the tags for those releases? Without them it is harder to compare if the version published to rubygems matches the code in the repository.

[2021-03-10 07:52] hurricup commented on #93
I'll try to do that.

[2021-03-10 07:52] #93 closed

[2021-03-24 09:51] casperisfine commented on #92
@hurricup no huge deal, but could we have a non-beta release?

[2021-03-24 15:23] agrberg commented on #91
This also is happening on Big Sur (macOS 11.2.3) and `gem install debase -v '0.2.4.1' -- --with-cflags="-Wno-error=implicit-function-declaration"` got around the problem for me.

[2021-04-24 07:04] memsenpai commented on #91
Xcode to 11.7 work for me on big sur

[2021-05-23 08:35] yspreen commented on #89
I have neither RubyMine, nor Jetbrains IDEs, not rvm, nor rbenv installed. How am I supposed to install debase?? Nothing seems to work. I don't get why this was closed

[2021-05-23 08:42] yspreen commented on #89
Jeez, finally.

[code]

[2021-09-07 14:11] PervushinEugene opened #94 "Ruby 3.0.2 compatibilty"
I try to install debase and ruby-debug-ide-0.7.2

part my Gemfile
[code]

part my Dockerfile
[code]

but getting the following error

[code]

**debase-0.2.5.beta2/gem_make.out**

[code]

**ruby-debug-ide-0.7.2/gem_make.out **

[code]

[2021-09-12 10:13] jabamaus commented on #94
I would like this too :) Hoping it might help stabilise the debugging experience in ruby vscode....

[2021-09-13 09:59] jabamaus commented on #94
I got as far as adding 3.0.2p107 to debase-ruby_core_source and submitting a pull request... Hoping an expert can do the débase part.

[2021-11-24 12:50] iandol commented on #94
@jabamaus — You could use the new official debug gem https://github.com/ruby/debug and debug extension for VSCode: https://marketplace.visualstudio.com/items?itemName=KoichiSasada.vscode-rdbg — works reliably in 3.0.2 for me...

[2021-11-25 13:58] AlecRust commented on #94
@iandol does that remove the need for https://github.com/ruby-debug/ruby-debug-ide too?

[2021-11-25 16:27] iandol commented on #94
@AlecRust Yes, it is a single ruby gem and one extension. The extension is very new, so there may be teething troubles. But at least for my requirements of remote debugger triggered within-the-code, this is already much more useful. `ruby/debug` will be officially bundled in 3.1 and Rails 7 (replacing `byebug`), so it also makes sense to move over as it will better support new ruby versions...

[2021-12-13 16:48] iefhong commented on #94
try install beta version
`
gem install debase --pre
`

[2022-01-12 07:41] issei-m opened #95 "Ruby 3.1 compatibility issue"
[code]

[2022-01-12 15:04] hurricup commented on #95
https://github.com/ruby-debug/ruby-debug-ide/issues/223#issuecomment-1009609192

[2022-01-15 03:51] collinsauve commented on #94
This does not seem to be just a Ruby 3.x problem.   See https://github.com/collinsauve/ruby-debug-ide-test/branches

These base images work:
* ruby:2.7.1
* ruby:3.0.3
These base images get the native extension error
* ruby:2.7.1-slim-buster
* ruby:3.0.3-slim-bullseye
* ruby:3.1.0
* ruby:3.1.0-slim-bullseye

Is this a missing C library or something, that should be documented in the readme?

[2022-01-15 03:54] collinsauve commented on #94
Here's the output from the `ruby-3.1.0-bullseye` branch:

[code]

[2022-01-23 12:45] EverardB commented on #92
Is there anything on the roadmap for the 0.2.5 (non-beta) release?

[2022-01-23 13:34] hurricup commented on #92
@EverardB for now main goal is to migrate from debase to the new debugging gem bundled with new ruby versions.

[2022-03-03 00:51] AirWick219 commented on #94
Got the same error with ruby 3.0.0 but was able to install `debase-0.2.5.beta2` after installing `debase-ruby_core_source`

got the idea from [here](https://youtrack.jetbrains.com/issue/RUBY-20229#focus=Comments-27-2469993.0-0)

[code]

<img width="496" alt="Screen Shot 2022-03-02 at 6 48 01 PM" src="https://user-images.githubusercontent.com/5618294/156474590-b378041b-bf1c-4fca-ac35-5dbbefbcd003.p

[2022-03-04 02:34] zhouluyao2020 commented on #94
upgrade ruby,it's work for me!
`ruby -v`
ruby 2.6.3p62 (2019-04-16 revision 67580) [universal.x86_64-darwin19]
`brew install ruby`

➜  ~ brew install ruby

==> Downloading https://mirrors.ustc.edu.cn/homebrew-bottles/libyaml-0.2.5.big_s
######################################################################## 100.0%
==> Downloading https://mirrors.ustc.edu.cn/homebrew-bottles/ruby-3.0.1.big_sur.
#=

[2022-03-06 23:10] rgalanakis commented on #94
I am using `rbenv`, I was able to copy `~/.rbenv/versions/3.1.1/lib/ruby/gems/3.1.0/gems/debase-ruby_core_source-0.10.14/lib/debase` into `~/.rbenv/versions/3.1.1/lib/ruby/debase`, next to the Ruby stdlib files/folders, so the build step could fine the needed files. Not the worst hack I've had to do.

[2022-03-18 14:56] klobuczek opened #96 "Debugger stops only on 1st breakpoint inside a Fiber block and ignores all subsequent ones"
In ruby 3.1.1 the debugger stops only on 1 line in code like below:
[code]
So if I put 2 breakpoints inside the block at the lines containing `puts` the 2nd breakpoint is ignored.
https://youtrack.jetbrains.com/issue/RUBY-29456

[2022-04-09 17:55] JosephProxLearn opened #97 "debase failing to install on Mac"
My environment:

    MacOS Monterey Version 12.3.1
    Ruby 3.1.0

I did:

    xcode-select --install

Then I installed ruby-debug-ide:

    gem install ruby-debug-id

Install went fine.

Then I tried to install debase:

    gem install debase

And I got a bunch of errors. Here's the output of my mkmf.log:

    have_header: checking for vm_core.h... -------------------- no

    DYLD_FALLBACK_LIBRA

[2022-04-16 15:58] Horki opened #98 "Failed to install Debase"
OS: Linux
`Linux host 5.17.1-arch1-1 #1 SMP PREEMPT Mon, 28 Mar 2022 20:55:33 +0000 x86_64 GNU/Linux`

`Building native extensions. This could take a while...
ERROR:  Error installing debase:
        ERROR: Failed to build gem native extension.

    current directory: ~/.rbenv/versions/2.6.7/lib/ruby/gems/2.6.0/gems/debase-0.2.4.1/ext
~/.rbenv/versions/2.6.7/bin/ruby -I ~/.rbenv/versions/2.6.7/lib

[2022-04-26 03:11] NeilR-Cambia commented on #98
I'm also seeing failures trying to install `debase` into a Ruby 3.1.1 gemset.

OS: macOS 11.6.5 on Apple M1
`Darwin hostname 20.6.0 Darwin Kernel Version 20.6.0: Tue Feb 22 21:10:42 PST 2022; root:xnu-7195.141.26~1/RELEASE_ARM64_T8101 arm64`

Install output:
[code]

mkmf.log errors:
[code]

And my .zshrc contains:
`export optflags="-Wno-error=shorten-64-to-32 -Wno-error=implicit-function-declarati

[2022-04-29 02:58] cwli24 commented on #98
Also failing with similar output on Windows subsystem Debian.
Ruby version 3.1.2p20, and Rails 7.0.2.4.
I also tried version 0.2.3 which gave the same error, but was able to install the 0.2.2 successfully.

[2022-05-03 20:49] jlm commented on #98
It looks like this is fixed in debase 0.25.beta2.
[code]

[2022-05-06 19:05] rrguedes commented on #98
Yes, it was. Thanks @jlm!

[2022-05-30 16:47] sftblw commented on #94
[Gem 'ruby-debug-ide'이(가) 설치되지 않았거나 해당 Gem의 실행 파일 스크립트 'rdebug-ide'이(가) 없습니다.](url)

[2022-07-08 06:33] awadhwana commented on #91
If you are using multiple ruby versions and bundler to install the dependencies. Add this to the bundler config.

`bundle config build.debase --with-cflags="-Wno-error=implicit-function-declaration"`

[2022-09-01 07:49] lilith commented on #95
[I'm getting this kind of issue with Ruby 3.1.2, rbenv, and debase 0.2.4.1](https://gist.github.com/lilith/e23c084c3fd39f8e4bf601986ecdcdf3)

[2022-09-01 07:51] lilith commented on #95
gem 'debase', "~> 0.2.5.beta2" allowed it to install

[2022-09-28 08:20] Nearyou46 commented on #95
if bundler >2.2 need to change "bundle lock --add-platform x86-mingw32 x64-mingw32 x86-mswin32" to bundle lock --add-platform x86_64-linux" in docker entrypoint.

[2022-09-28 19:17] Juice10 commented on #95
Both don't seem to work for me with the docker base image: `mcr.microsoft.com/vscode/devcontainers/ruby:3-bullseye`

Dockerfile:
[code]

[2022-09-28 22:38] calebeno commented on #98
Can confirm, this issue persists.  Using `0.2.5.beta2` and installing on the base `3.1.2` ruby image from docker hub fails.

[2022-11-30 20:52] shqear93 commented on #76
Still having this issue:

[code]

Notes:
[code]